/org.libsdl.testgles

/cmakeTutoral/build/

/cmakeTutoralLib/build/

/DesignerApp/Win32/
/DesignerApp/AS_DEBUG/
/DesignerApp/.vs/
/DesignerApp/DesignerApp.sdf
/DesignerApp/DesignerApp.VC.opendb
/DesignerApp/build/

/testApp/Win32/
/testApp/AS_DEBUG/
/testApp/.vs/
/testApp/DesignerApp.sdf
/testApp/DesignerApp.VC.opendb
/testApp/build/

/gameTemplate/Win32/
/gameTemplate/AS_DEBUG/
/gameTemplate/.vs/
/gameTemplate/gameTemplate.sdf
/gameTemplate/gameTemplate.VC.opendb
/gameTemplate/build/

/PachinkoChallenge/Win32/
/PachinkoChallenge/AS_DEBUG/
/PachinkoChallenge/.vs/
/PachinkoChallenge/PachinkoChallenge.sdf
/PachinkoChallenge/PachinkoChallenge.VC.opendb
/PachinkoChallenge/build/

/invaders/Win32/
/invaders/AS_DEBUG/
/invaders/.vs/
/invaders/invaders.sdf
/invaders/invaders.VC.opendb
/invaders/build/

/scriptGameTemplate/Win32/
/scriptGameTemplate/AS_DEBUG/
/scriptGameTemplate/.vs/
/scriptGameTemplate/KittyBall.sdf
/scriptGameTemplate/KittyBall.VC.opendb
/scriptGameTemplate/build/

/consoleTestAp/Win32/
/consoleTestAp/AS_DEBUG/
/consoleTestAp/.vs/
/consoleTestAp/KittyBall.sdf
/consoleTestAp/consoleTestAp.VC.opendb
/consoleTestAp/build/

/c_consoleTestApp/c_consoleTestApp
/c_consoleTestApp/*.o
/c_consoleTestApp/.dep.inc

/cpp_consoleTestApp/cpp_consoleTestApp
/cpp_consoleTestApp/*.o
/cpp_consoleTestApp/.dep.inc

/consoleSimpleApp/Win32/
/consoleSimpleApp/AS_DEBUG/
/consoleSimpleApp/.vs/
/consoleSimpleApp/KittyBall.sdf
/consoleSimpleApp/consoleTestAp.VC.opendb
/consoleSimpleApp/build/

/org.howiesfunware.PachinkoChallenge/build
/org.howiesfunware.PachinkoChallenge/app/build
/org.howiesfunware.PachinkoChallenge/app/.cxx
/org.howiesfunware.PachinkoChallenge/.gradle
/org.howiesfunware.PachinkoChallenge/.idea
/org.howiesfunware.PachinkoChallenge/app/.externalNativeBuild

/org.howiesfunware.template/build
/org.howiesfunware.template/app/build
/org.howiesfunware.template/app/.cxx
/org.howiesfunware.template/.gradle
/org.howiesfunware.template/.idea
/org.howiesfunware.template/app/.externalNativeBuild

/library/build/

/angelscript/projects/msvc2015/Win32/
/angelscript/projects/msvc2015/angelscript.vcxproj.user
/angelscript/build/

/Box2D/Win32/
/Box2D/Box2D.vcxproj.user
/Box2D/build/

/bulletPhysics/build3/vs2010/Win32/
/bulletPhysics/build/

/*.user
/scriptGameTestEnvironment/build/
