/org.libsdl.testgles

/cmakeTutoral/build/

/cmakeTutoralLib/build/

/testApp/Win32/
/testApp/AS_DEBUG/
/testApp/.vs/
/testApp/DesignerApp.sdf
/testApp/DesignerApp.VC.opendb
/testApp/build/

/gameTemplate/Win32/
/gameTemplate/AS_DEBUG/
/gameTemplate/.vs/
/gameTemplate/gameTemplate.sdf
/gameTemplate/gameTemplate.VC.opendb
/gameTemplate/build/
/gameTemplate/release/

/invaders/Win32/
/invaders/AS_DEBUG/
/invaders/.vs/
/invaders/invaders.sdf
/invaders/invaders.VC.opendb
/invaders/build/
/invaders/release/

/library/build/

/angelscript/projects/msvc2015/Win32/
/angelscript/projects/msvc2015/angelscript.vcxproj.user
/angelscript/build/

/Box2D/Win32/
/Box2D/Box2D.vcxproj.user
/Box2D/build/

/bulletPhysics/build3/vs2010/Win32/
/bulletPhysics/build/

/*.user
/scriptGameTestEnvironment/build/
